Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

initial actions setup
  .github/workflows/review.yml
  Jenkinsfile
  Makefile
  package.json
  packages/nexus-sdk/src/Archive/index.ts
Due: nexus-sdk

install again before dev?
  .github/workflows/review.yml
Due: none

different approach with using lerna directly from github action
  .github/workflows/review.yml
Due: none

I don't know what's going on
  .github/workflows/review.yml
  Makefile
  package.json
  yarn.lock
Due: none

I don't know what's going on
  Makefile
Due: none

I don't know what's going on
  .github/workflows/review.yml
Due: none

putting build before tests + remove codecode (now using github actions
  .github/workflows/review.yml
  Makefile
  package.json
  yarn.lock
Due: none

adding release workflow
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

initial actions setup (#298)
  .github/workflows/release.yml
  .github/workflows/review.yml
  Jenkinsfile
  Makefile
  package.json
  packages/nexus-sdk/src/Archive/index.ts
  yarn.lock
Due: nexus-sdk

Add a test for getResource
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
Due: nexus-sdk

Add getResource function
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Schema/index.ts
Due: nexus-sdk

Add slash
  packages/nexus-sdk/src/Schema/index.ts
Due: nexus-sdk

899 implement resolvers get resource (#299)
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
Due: nexus-sdk

make sure nested objects are allowed in the context type
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

make sure nested objects are allowed in the context type (#300)
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

v1.2.0
  lerna.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.2.0 (#301)
  lerna.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

yarn lerna, not just lerna
  .github/workflows/release.yml
Due: none

yarn lerna, not just lerna (#302)
  .github/workflows/release.yml
Due: none

Update query params
  package.json
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/utils.ts
  yarn.lock
Due: nexus-sdk

Fix tests
  packages/nexus-sdk/src/Organization/__tests__/organization.spec.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/__tests__/utils.spec.ts
  packages/nexus-sdk/src/utils.ts
Due: nexus-sdk

Add a test for duplicate params
  packages/nexus-sdk/src/__tests__/utils.spec.ts
  packages/nexus-sdk/src/utils.ts
Due: nexus-sdk

Fix imports
  packages/nexus-sdk/package.json
  packages/nexus-sdk/yarn.lock
Due: nexus-sdk

Fix dependencies
  package.json
  yarn.lock
Due: none

963 update query params (#303)
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Organization/__tests__/organization.spec.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/__tests__/utils.spec.ts
  packages/nexus-sdk/src/utils.ts
  packages/nexus-sdk/yarn.lock
Due: nexus-sdk

Add a test for sort params
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

Add sort type
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

Update tests
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
Due: nexus-sdk

Remove logging
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

Add sort type (#304)
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

add catchError to poll
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
Due: nexus-link

grammar!
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

change statstic type to collection
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

change statstic type to collection (#306)
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

add catchError to poll (#305)
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
Due: nexus-link

fix High warnings
  yarn.lock
Due: none

fix High warnings (#307)
  yarn.lock
Due: none

v1.2.1
  lerna.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.2.1 (#308)
  lerna.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Path conditions:
  nexus-sdk: any of: packages/nexus-sdk
  nexus-link: any of: packages/nexus-link
  react-nexus: any of: packages/react-nexus
