Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

codecov.yml:

coverage:
  status:
    project:
      default: off
      nexus-sdk:
        target: 85%
        flags: nexus-sdk
      nexus-link:
        target: 85%
        flags: nexus-link
      react-nexus:
        target: 85%
        flags: react-nexus

flags:
  # filter the folder(s) you wish to measure by that flag
  nexus-sdk:
    # only include files in the backend folder
    paths:
      - packages/nexus-sdk
  nexus-link:
    paths:
      - packages/nexus-link
  react-nexus:
    paths:
      - packages/react-nexus

Update httpGet functions with headers
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/File/types.ts
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/Storage/types.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

Create buildHeader function
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/__tests__/utils.spec.ts
  packages/nexus-sdk/src/utils.ts
Due: nexus-sdk

Update httpGet function in Storage
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
Due: nexus-sdk

Fix a typo
  packages/nexus-sdk/src/Archive/__tests__/index.spec.ts
Due: nexus-sdk

Fix typo in Archive types
  packages/nexus-sdk/src/Archive/__tests__/index.spec.ts
  packages/nexus-sdk/src/Archive/index.ts
Due: nexus-sdk

Update tests
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
Due: nexus-sdk

Update httpGet in Resources to pass parseAs
  packages/nexus-link/src/types.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk, nexus-link

Refactor View test for a header
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
Due: nexus-sdk

Update triggerFetch to use parseAs
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
Due: nexus-link

Update Archive tests
  packages/nexus-sdk/src/Archive/__tests__/index.spec.ts
Due: nexus-sdk

Update Resolver httpGet to pass parseAs
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
Due: nexus-sdk

Update Views httpGet to pass parseAs
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

Update Storage httpGet to pass prseAs
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
Due: nexus-sdk

Update Schema to pass parseAs
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/Schema/index.ts
Due: nexus-sdk

Fix type error in parseAsBuilder
  packages/nexus-sdk/src/utils.ts
Due: nexus-sdk

Create parseAsBuilder
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/utils.ts
Due: nexus-sdk

Update File httpGet to pass parseAs
  packages/nexus-link/src/types.ts
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
Due: nexus-sdk, nexus-link

Update Archive httpGet to pass parseAs when it is passed
  packages/nexus-sdk/src/Archive/__tests__/index.spec.ts
Due: nexus-sdk

Add a test for parseAsBuilder
  packages/nexus-sdk/src/__tests__/utils.spec.ts
Due: nexus-sdk

Fix failing tests
  packages/nexus-sdk/src/Archive/__tests__/index.spec.ts
  yarn.lock
Due: nexus-sdk

Add tests for parseAsBuilder
  packages/nexus-sdk/src/__tests__/utils.spec.ts
Due: nexus-sdk

Update tests
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/__tests__/utils.spec.ts
Due: nexus-sdk, nexus-link

Update tests for links
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Upade dependencies for nexus-sdk
  packages/nexus-sdk/package.json
Due: nexus-sdk

Update dependencies for nexus-sdk
  packages/nexus-sdk/package.json
Due: nexus-sdk

772 implement headers for all resource types (#290)
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
  packages/nexus-link/src/types.ts
  packages/nexus-sdk/src/Archive/__tests__/index.spec.ts
  packages/nexus-sdk/src/Archive/index.ts
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/File/types.ts
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/Storage/types.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/__tests__/utils.spec.ts
  packages/nexus-sdk/src/utils.ts
  yarn.lock
Due: nexus-sdk, nexus-link

Add latest studio conf
  apps/search-poc/scripts/createStudio.js
  apps/search-poc/scripts/resources.js
Due: none

Add latest changes
  apps/search-poc/nginx.conf
  apps/search-poc/package.json
  apps/search-poc/src/components/ResourceDetails/DetailedCircuit/BasicInfo.tsx
  apps/search-poc/src/components/ResourceDetails/Simulation/AnalysisImage.css
  apps/search-poc/src/components/ResourceDetails/Simulation/AnalysisImage.tsx
  apps/search-poc/src/components/ResourceDetails/Simulation/BasicInfo.tsx
  apps/search-poc/src/components/ResourceDetails/Simulation/SlurmInfo.tsx
  apps/search-poc/src/components/ResourceDetails/SimulationCampaign/SimWriterConfig.tsx
  apps/search-poc/src/containers/ResourceDetails/DetailedCircuit/BasicInfo.tsx
  apps/search-poc/src/containers/ResourceDetails/Simulation/Analysis.css
  apps/search-poc/src/containers/ResourceDetails/Simulation/Analysis.tsx
  apps/search-poc/src/containers/ResourceDetails/Simulation/AnalysisImage.tsx
  apps/search-poc/src/containers/ResourceDetails/SimulationCampaign/SimWriterConfig.tsx
  apps/search-poc/src/containers/ResourceDetails/types.ts
  apps/search-poc/src/contexts/UserContext.ts
  apps/search-poc/src/index.tsx
  apps/search-poc/yarn.lock
Due: none

Remove default content type for File.create
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
Due: nexus-sdk, nexus-link

Update file tests
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
Due: nexus-sdk

784 Remove default content type for File.create (#296)
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
Due: nexus-sdk, nexus-link

Resource.create should pass schemaId
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

refactor and update test
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

Add ===
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

Add nested template string to avoid /
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

Added test for httpPut usecase
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
Due: nexus-sdk

refactor the test
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
Due: nexus-sdk

Resource.create should pass schemaId (#295)
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

v1.1.8
  lerna.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.1.8 (#297)
  lerna.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus
