Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

codecov.yml:

coverage:
  status:
    project:
      default: off
      nexus-sdk:
        target: 85%
        flags: nexus-sdk
      nexus-link:
        target: 85%
        flags: nexus-link
      react-nexus:
        target: 85%
        flags: react-nexus

flags:
  # filter the folder(s) you wish to measure by that flag
  nexus-sdk:
    # only include files in the backend folder
    paths:
      - packages/nexus-sdk
  nexus-link:
    paths:
      - packages/nexus-link
  react-nexus:
    paths:
      - packages/react-nexus

reorient workspace list
  apps/search-poc/src/components/TabList.css
  apps/search-poc/src/components/TabList.tsx
  apps/search-poc/src/containers/WorkspaceList.tsx
  apps/search-poc/src/views/MainView.css
  apps/search-poc/src/views/MainView.tsx
Due: none

reorient workspace list (#265)
  apps/search-poc/src/components/TabList.css
  apps/search-poc/src/components/TabList.tsx
  apps/search-poc/src/containers/WorkspaceList.tsx
  apps/search-poc/src/views/MainView.css
  apps/search-poc/src/views/MainView.tsx
Due: none

Add link component
  apps/search-poc/package.json
  apps/search-poc/src/components/Link.tsx
  apps/search-poc/src/components/TabList.tsx
  apps/search-poc/src/components/__tests__/Link.test.tsx
  apps/search-poc/src/components/__tests__/__snapshots__/Link.test.tsx.snap
  apps/search-poc/src/containers/DashboardList.tsx
  apps/search-poc/src/containers/ResourceDetails/EModelCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/RecNrnMorphologyCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/ResourceDetails.tsx
  apps/search-poc/src/containers/WorkspaceList.tsx
  apps/search-poc/src/context/link.ts
  apps/search-poc/src/history.ts
  apps/search-poc/src/index.tsx
  apps/search-poc/src/utils/index.ts
  apps/search-poc/src/views/DetailsView.tsx
  apps/search-poc/src/web-components/build-config/template.html
  apps/search-poc/src/web-components/resource-details/index.ts
  apps/search-poc/src/web-components/studio-dashboard/index.ts
  apps/search-poc/src/web-components/web-component.ts
  apps/search-poc/yarn.lock
Due: none

Add test for buildHref
  apps/search-poc/src/utils/__tests__/index.test.ts
Due: none

Add more tests for buildHref
  apps/search-poc/src/utils/__tests__/index.test.ts
  apps/search-poc/src/utils/index.ts
Due: none

Add tests for link component
  apps/search-poc/src/components/Link.tsx
  apps/search-poc/src/components/__tests__/Link.test.tsx
  apps/search-poc/src/views/MainView.tsx
Due: none

Remove Link component, process click events in view components
  apps/search-poc/src/components/Link.tsx
  apps/search-poc/src/components/ResultTable.tsx
  apps/search-poc/src/components/__tests__/Link.test.tsx
  apps/search-poc/src/containers/DashboardList.tsx
  apps/search-poc/src/containers/ResourceDetails/EModelCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/RecNrnMorphologyCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/ResourceDetails.tsx
  apps/search-poc/src/containers/ResultTable.tsx
  apps/search-poc/src/containers/WorkspaceList.tsx
  apps/search-poc/src/context/link.ts
  apps/search-poc/src/history.ts
  apps/search-poc/src/index.tsx
  apps/search-poc/src/types.ts
  apps/search-poc/src/utils/__tests__/index.test.ts
  apps/search-poc/src/utils/index.ts
  apps/search-poc/src/views/DetailsView.tsx
  apps/search-poc/src/views/MainView.tsx
  apps/search-poc/src/web-components/resource-details/index.ts
  apps/search-poc/src/web-components/studio-dashboard/index.ts
  apps/search-poc/src/web-components/web-component.ts
Due: none

Cleanup
  apps/search-poc/src/containers/ResourceDetails/EModelCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/RecNrnMorphologyCollection.tsx
  apps/search-poc/src/containers/ResultTable.tsx
Due: none

More cleanup
  apps/search-poc/src/utils/__tests__/index.test.ts
Due: none

Add missing after merge children prop for WorkspaceList comp
  apps/search-poc/src/containers/WorkspaceList.tsx
Due: none

Add snapshot tests, test coverage reports etc
  apps/search-poc/package.json
  apps/search-poc/report.20190829.090044.30792.0.001.json
  apps/search-poc/report.20190829.090227.30832.0.001.json
  apps/search-poc/src/components/ResourceDetails/__tests__/MorphologyViewer.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/RecNrnMorphologyCollection.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/MorphologyViewer.test.tsx.snap
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/RecNrnMorphologyCollection.test.tsx.snap
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/ResourceDeatils.test.tsx.snap
  apps/search-poc/src/components/__tests__/Filters.test.tsx
  apps/search-poc/src/components/__tests__/Header.test.tsx
  apps/search-poc/src/components/__tests__/ResultTable.test.tsx
  apps/search-poc/src/components/__tests__/__snapshots__/Header.test.tsx.snap
  apps/search-poc/src/containers/__tests__/DashBoardList.test.tsx
  apps/search-poc/src/containers/__tests__/ResultTable.test.tsx
  apps/search-poc/src/containers/__tests__/WorkspaceList.test.tsx
  apps/search-poc/src/containers/__tests__/__snapshots__/DashBoardList.test.tsx.snap
  apps/search-poc/src/containers/__tests__/__snapshots__/ResultTable.test.tsx.snap
  apps/search-poc/src/containers/__tests__/__snapshots__/WorkspaceList.test.tsx.snap
  apps/search-poc/src/hooks/__tests__/__snapshots__/useMorphology.test.tsx.snap
  apps/search-poc/src/hooks/__tests__/useMorphology.test.tsx
  apps/search-poc/src/hooks/useMorphology.ts
  apps/search-poc/src/views/MainView.tsx
Due: none

Removed tests after rebase
  apps/search-poc/src/components/ResourceDetails/__tests__/EmodelCollection.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/RecNrnMorphologyCollection.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/EmodelCollection.test.tsx.snap
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/RecNrnMorphologyCollection.test.tsx.snap
  apps/search-poc/src/containers/__tests__/DashBoardList.test.tsx
  apps/search-poc/src/containers/__tests__/__snapshots__/DashBoardList.test.tsx.snap
  apps/search-poc/src/containers/__tests__/__snapshots__/WorkspaceList.test.tsx.snap
  apps/search-poc/src/hooks/__tests__/useMorphology.test.tsx
Due: none

Use BrowserRouter instead of Router
  apps/search-poc/src/containers/DashboardList.tsx
  apps/search-poc/src/containers/WorkspaceList.tsx
  apps/search-poc/src/history.ts
  apps/search-poc/src/index.tsx
  apps/search-poc/src/views/DetailsView.tsx
  apps/search-poc/src/views/MainView.tsx
Due: none

Updated snapshot and removed console logs
  apps/search-poc/src/components/ResourceDetails/__tests__/ResourceDeatils.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/ResourceDeatils.test.tsx.snap
  apps/search-poc/src/hooks/useMorphology.ts
  apps/search-poc/src/views/MainView.tsx
Due: none

removed console logs
  apps/search-poc/src/views/MainView.tsx
Due: none

Revert changes to package.json and yarn.lock
  apps/search-poc/package.json
  apps/search-poc/yarn.lock
Due: none

Add more tests (#266)
  apps/search-poc/package.json
  apps/search-poc/report.20190829.090044.30792.0.001.json
  apps/search-poc/report.20190829.090227.30832.0.001.json
  apps/search-poc/src/components/ResourceDetails/__tests__/EmodelCollection.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/MorphologyViewer.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/ResourceDeatils.test.tsx
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/EmodelCollection.test.tsx.snap
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/MorphologyViewer.test.tsx.snap
  apps/search-poc/src/components/ResourceDetails/__tests__/__snapshots__/ResourceDeatils.test.tsx.snap
  apps/search-poc/src/components/__tests__/Filters.test.tsx
  apps/search-poc/src/components/__tests__/Header.test.tsx
  apps/search-poc/src/components/__tests__/ResultTable.test.tsx
  apps/search-poc/src/components/__tests__/__snapshots__/Header.test.tsx.snap
  apps/search-poc/src/containers/__tests__/DashBoardList.test.tsx
  apps/search-poc/src/containers/__tests__/ResultTable.test.tsx
  apps/search-poc/src/containers/__tests__/WorkspaceList.test.tsx
  apps/search-poc/src/containers/__tests__/__snapshots__/DashBoardList.test.tsx.snap
  apps/search-poc/src/containers/__tests__/__snapshots__/ResultTable.test.tsx.snap
  apps/search-poc/src/containers/__tests__/__snapshots__/WorkspaceList.test.tsx.snap
  apps/search-poc/src/hooks/__tests__/__snapshots__/useMorphology.test.tsx.snap
  apps/search-poc/src/hooks/__tests__/useMorphology.test.tsx
  apps/search-poc/src/views/MainView.tsx
Due: none

Click event processing (#264)
  apps/search-poc/src/components/ResultTable.tsx
  apps/search-poc/src/components/TabList.tsx
  apps/search-poc/src/components/__tests__/__snapshots__/Link.test.tsx.snap
  apps/search-poc/src/containers/DashboardList.tsx
  apps/search-poc/src/containers/ResourceDetails/EModelCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/RecNrnMorphologyCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/ResourceDetails.tsx
  apps/search-poc/src/containers/ResultTable.tsx
  apps/search-poc/src/containers/WorkspaceList.tsx
  apps/search-poc/src/index.tsx
  apps/search-poc/src/types.ts
  apps/search-poc/src/views/DetailsView.tsx
  apps/search-poc/src/views/MainView.tsx
  apps/search-poc/src/web-components/build-config/template.html
  apps/search-poc/src/web-components/resource-details/index.ts
  apps/search-poc/src/web-components/studio-dashboard/index.ts
  apps/search-poc/src/web-components/web-component.ts
Due: none

Added tests for setToken and setMethod
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Removed commented code
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Refactor
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Add test for Error case
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Added test cases for poll link
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Add tests for triggerFetch
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Added tests for setToken and setMethod (#267)
  packages/nexus-link/src/__tests__/links.spec.ts
Due: nexus-link

Tests for NexusProvider
  jest.config.base.js
  package.json
  packages/react-nexus/src/NexusProvider.tsx
  packages/react-nexus/src/__tests__/NexusProvider.test.tsx
  packages/react-nexus/src/__tests__/__snapshots__/NexusProvider.test.tsx.snap
  scripts/setupJest.ts
  yarn.lock
Due: react-nexus

Adjusted spacing, fixed react import
  packages/react-nexus/src/__tests__/NexusProvider.test.tsx
Due: react-nexus

add missing dep
  apps/search-poc/package.json
  apps/search-poc/yarn.lock
Due: none

forgot types dec
  apps/search-poc/package.json
  apps/search-poc/yarn.lock
Due: none

👷‍♀️ FIX: dependencies (#270)
  apps/search-poc/package.json
  apps/search-poc/yarn.lock
Due: none

fix duplicate studio creation
  apps/search-poc/scripts/createStudio.js
  apps/search-poc/scripts/resources.js
Due: none

remove log
  apps/search-poc/scripts/createStudio.js
Due: none

add comment
  apps/search-poc/scripts/createStudio.js
Due: none

👷‍♀️ FIX: duplicate studios (#269)
  apps/search-poc/scripts/createStudio.js
  apps/search-poc/scripts/resources.js
Due: none

fix duplicate react error
  apps/search-poc/src/hooks/useMorphology.ts
  apps/search-poc/yarn.lock
  package.json
  packages/react-nexus/package.json
  packages/react-nexus/yarn.lock
  yarn.lock
Due: react-nexus

set morpho type to any for now
  apps/search-poc/src/hooks/useMorphology.ts
Due: none

fix missing package error
  packages/react-nexus/package.json
Due: react-nexus

fix: duplicate react error (#271)
  apps/search-poc/src/hooks/useMorphology.ts
  apps/search-poc/yarn.lock
  package.json
  packages/react-nexus/package.json
  packages/react-nexus/yarn.lock
  yarn.lock
Due: react-nexus

Bulk download component(POC) and the nexus-sdk support for archive end point.
  apps/search-poc/package.json
  apps/search-poc/scripts/resources.js
  apps/search-poc/src/components/ResultTable.tsx
  apps/search-poc/src/components/__tests__/__snapshots__/Link.test.tsx.snap
  apps/search-poc/src/config.ts
  apps/search-poc/src/containers/FileDownLoad.css
  apps/search-poc/src/containers/FileDownLoad.tsx
  apps/search-poc/src/containers/ResourceDetails/EModelCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/RecNrnMorphologyCollection.tsx
  apps/search-poc/src/containers/ResourceDetails/ResourceDetails.tsx
  apps/search-poc/src/containers/WorkspaceList.tsx
  apps/search-poc/src/containers/__tests__/FileDownLoad.test.tsx
  apps/search-poc/src/containers/__tests__/__snapshots__/FileDownLoad.test.tsx.snap
  apps/search-poc/src/views/DetailsView.tsx
  apps/search-poc/yarn.lock
  packages/nexus-sdk/src/Archive/__tests__/index.spec.ts
  packages/nexus-sdk/src/Archive/index.ts
  packages/nexus-sdk/src/Archive/types.ts
  packages/nexus-sdk/src/nexusSdk.ts
  packages/nexus-sdk/src/types.ts
  yarn.lock
Due: nexus-sdk

Fixed lint errors
  apps/search-poc/src/components/ResultTable.tsx
  apps/search-poc/src/containers/FileDownLoad.tsx
  apps/search-poc/src/containers/__tests__/ResultTable.test.tsx
Due: none
