Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

codecov.yml:

coverage:
  status:
    project:
      default: off
      nexus-sdk:
        target: 85%
        flags: nexus-sdk
      nexus-link:
        target: 85%
        flags: nexus-link
      react-nexus:
        target: 85%
        flags: react-nexus

flags:
  # filter the folder(s) you wish to measure by that flag
  nexus-sdk:
    # only include files in the backend folder
    paths:
      - packages/nexus-sdk
  nexus-link:
    paths:
      - packages/nexus-link
  react-nexus:
    paths:
      - packages/react-nexus

Finally fixing this
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

Finally fixing this (#309)
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

add progress restart method and spec
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

Add version httpget
  lerna.json
  packages/nexus-sdk/src/Version/index.tsx
  packages/nexus-sdk/src/Version/types.ts
Due: nexus-sdk

Add tests
  packages/nexus-sdk/src/Version/_tests_/version.spec.ts
  packages/nexus-sdk/src/Version/index.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Update names
  packages/nexus-sdk/src/Version/_tests_/version.spec.ts
Due: nexus-sdk

Add Version get (#311)
  lerna.json
  packages/nexus-sdk/src/Version/_tests_/version.spec.ts
  packages/nexus-sdk/src/Version/index.ts
  packages/nexus-sdk/src/Version/types.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Revert "Add Version get (#311)"
  lerna.json
  packages/nexus-sdk/src/Version/_tests_/version.spec.ts
  packages/nexus-sdk/src/Version/index.ts
  packages/nexus-sdk/src/Version/types.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Revert "Add Version get (#311)" (#313)
  lerna.json
  packages/nexus-sdk/src/Version/_tests_/version.spec.ts
  packages/nexus-sdk/src/Version/index.ts
  packages/nexus-sdk/src/Version/types.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

add progress restart method and spec (#310)
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

Version update
  lerna.json
Due: none

Version update (#314)
  lerna.json
Due: none

Add Composite View support
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

Refactor types
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

Make some types optional based on changes in API
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

update the type
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

Add Composite View support (#312)
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

v1.3.0
  lerna.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

update view readme and add missing test
  packages/nexus-sdk/src/View/README.md
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
Due: nexus-sdk

update view readme and add missing test (#316)
  packages/nexus-sdk/src/View/README.md
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
Due: nexus-sdk

Version changes
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Version changes (#318)
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

update id to type fix CompositeView type defintion
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

update id to type fix CompositeView type defintion (#319)
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

fix type (no longer collection)
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

add props types
  packages/react-nexus/src/NexusProvider.tsx
Due: react-nexus

fix type (no longer collection) (#320)
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

add props types (#321)
  packages/react-nexus/src/NexusProvider.tsx
Due: react-nexus

v1.3.1
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.3.1 (#322)
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

noodling with parseResponse
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
Due: nexus-link

feat(nexus-link): separate response parsing behavior from triggerFetch link
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
  packages/nexus-link/src/types.ts
  scripts/setupJest.ts
Due: nexus-link

fix(nexus-links): remove comments and clean up triggerFetch
  packages/nexus-link/src/links.ts
Due: nexus-link

fix(nexus-sdk): add parseResponse to defaultLinks
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Feat nexus link parse response (#325)
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
  packages/nexus-link/src/types.ts
  packages/nexus-sdk/src/nexusSdk.ts
  scripts/setupJest.ts
Due: nexus-sdk, nexus-link

add linksOverwrite property
  packages/nexus-sdk/README.md
  packages/nexus-sdk/src/__tests__/nexusSDK.spec.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

add linksOverwrite property (#326)
  packages/nexus-sdk/README.md
  packages/nexus-sdk/src/__tests__/nexusSDK.spec.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

chore: fix vulnerable packages
  yarn.lock
Due: none

chore: fix vulerable packages
  packages/nexus-link/yarn.lock
  packages/nexus-sdk/yarn.lock
  packages/react-nexus/yarn.lock
  yarn.lock
Due: nexus-sdk, nexus-link, react-nexus

chore: fix vulerable packages (#328)
  packages/nexus-link/yarn.lock
  packages/nexus-sdk/yarn.lock
  packages/react-nexus/yarn.lock
  yarn.lock
Due: nexus-sdk, nexus-link, react-nexus
