Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

codecov.yml:

coverage:
  status:
    project:
      default: off
      nexus-sdk:
        target: 85%
        flags: nexus-sdk
      nexus-link:
        target: 85%
        flags: nexus-link
      react-nexus:
        target: 85%
        flags: react-nexus

flags:
  # filter the folder(s) you wish to measure by that flag
  nexus-sdk:
    # only include files in the backend folder
    paths:
      - packages/nexus-sdk
  nexus-link:
    paths:
      - packages/nexus-link
  react-nexus:
    paths:
      - packages/react-nexus

remove unwatned resource changes
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

change types for poll, list and get
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

👷‍♀️ FIX: default names (#187)
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/constants/index.ts
Due: nexus-sdk

proper type
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

add test for polls
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/testUtils.ts
Due: nexus-sdk

make es search response an ES7 thing
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

fix: proper ES response types (#189)
  packages/nexus-sdk/src/View/types.ts
Due: nexus-sdk

remove default generic + create ResourceList type
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

remove unused import
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

👷‍♀️ FIX: change types for poll, list and get (#188)
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

make @id available and optional for all resources types
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/Storage/types.ts
Due: nexus-sdk

add interval polling example in resources
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/testUtils.ts
Due: nexus-sdk

fix typo
  packages/nexus-sdk/src/Storage/types.ts
Due: nexus-sdk

change pollTime to pollIntervalMs
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/testUtils.ts
Due: nexus-sdk

💍 PROPOSAL: add interval polling example in resources (#192)
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/testUtils.ts
Due: nexus-sdk

you now can useNexusContext directly
  packages/react-nexus/src/index.ts
  packages/react-nexus/src/useNexus.tsx
  packages/react-nexus/src/useNexusContext.ts
Due: react-nexus

docuemnt use of context quickly
  packages/react-nexus/README.md
Due: react-nexus

Feat/expose use nexus context (#193)
  packages/react-nexus/README.md
  packages/react-nexus/src/index.ts
  packages/react-nexus/src/useNexus.tsx
  packages/react-nexus/src/useNexusContext.ts
Due: react-nexus

make @id available and optional for all resources types (#191)
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/Storage/types.ts
Due: nexus-sdk

add metadata keys reference
  packages/nexus-sdk/src/constants/index.ts
Due: nexus-sdk

add _updatedAt field
  packages/nexus-sdk/src/constants/index.ts
Due: nexus-sdk

useNexusContext export
  packages/react-nexus/src/index.ts
Due: react-nexus

useNexusContext export (#195)
  packages/react-nexus/src/index.ts
Due: react-nexus

v1.1.5
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.1.5 (#196)
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

fix resource type
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

fix resource type (#197)
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

feat: add listing resource links
  packages/nexus-sdk/src/Resource/README.md
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

feat: add listing resource links (#198)
  packages/nexus-sdk/src/Resource/README.md
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

align with Nexus doc
  packages/nexus-sdk/README.md
Due: nexus-sdk

align with Nexus doc (#199)
  packages/nexus-sdk/README.md
Due: nexus-sdk

use rxjs instead of zen-observable
  packages/nexus-link/package.json
  packages/nexus-link/src/__tests__/utils.spec.ts
  packages/nexus-link/src/index.ts
  packages/nexus-link/src/links.ts
  packages/nexus-link/src/nexusLink.ts
  packages/nexus-link/src/types.ts
  packages/nexus-link/src/utils.ts
  packages/nexus-link/yarn.lock
Due: nexus-link

include dependencies in bundles, but exclude globals
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: none

remove crap in config + entrypoints
  packages/react-nexus/package.json
  packages/react-nexus/tsconfig.json
Due: react-nexus

remove unsed dev dep
  packages/nexus-link/package.json
  packages/nexus-link/yarn.lock
Due: nexus-link

Fix/packaging (#201)
  package.json
  packages/nexus-link/package.json
  packages/nexus-link/src/__tests__/utils.spec.ts
  packages/nexus-link/src/index.ts
  packages/nexus-link/src/links.ts
  packages/nexus-link/src/nexusLink.ts
  packages/nexus-link/src/types.ts
  packages/nexus-link/src/utils.ts
  packages/nexus-link/yarn.lock
  packages/react-nexus/package.json
  packages/react-nexus/tsconfig.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: nexus-link, react-nexus

fix email address + git repo url + directories list being exported
  package.json
  packages/nexus-link/package.json
  packages/nexus-sdk/README.md
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

fix type + indentation
  packages/nexus-sdk/README.md
Due: nexus-sdk

Fix/cleanup packages json (#204)
  package.json
  packages/nexus-link/package.json
  packages/nexus-sdk/README.md
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.1.6
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus
