Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

v1.3.2
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Revert "chore: fix vulerable packages (#328)"
  packages/nexus-link/yarn.lock
  packages/nexus-sdk/yarn.lock
  packages/react-nexus/yarn.lock
  yarn.lock
Due: nexus-sdk, nexus-link, react-nexus

Revert "chore: fix vulerable packages (#328)" (#331)
  packages/nexus-link/yarn.lock
  packages/nexus-sdk/yarn.lock
  packages/react-nexus/yarn.lock
  yarn.lock
Due: nexus-sdk, nexus-link, react-nexus

Remove abort controller
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
Due: nexus-link

Remove un used code
  packages/nexus-link/src/links.ts
Due: nexus-link

Remove abort controller (#333)
  packages/nexus-link/src/__tests__/links.spec.ts
  packages/nexus-link/src/links.ts
Due: nexus-link

update version
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

update version (#334)
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Fix out dated links in documentation
  packages/nexus-sdk/src/Archive/README.md
  packages/nexus-sdk/src/File/README.md
  packages/nexus-sdk/src/Identity/README.md
  packages/nexus-sdk/src/Organization/README.md
  packages/nexus-sdk/src/Permissions/README.md
  packages/nexus-sdk/src/Project/README.md
  packages/nexus-sdk/src/Realm/README.md
  packages/nexus-sdk/src/Resolver/README.md
  packages/nexus-sdk/src/Resource/README.md
  packages/nexus-sdk/src/Schema/README.md
  packages/nexus-sdk/src/Storage/README.md
  packages/nexus-sdk/src/View/README.md
Due: nexus-sdk

Fix out dated links in documentation (#335)
  packages/nexus-sdk/src/Archive/README.md
  packages/nexus-sdk/src/File/README.md
  packages/nexus-sdk/src/Identity/README.md
  packages/nexus-sdk/src/Organization/README.md
  packages/nexus-sdk/src/Permissions/README.md
  packages/nexus-sdk/src/Project/README.md
  packages/nexus-sdk/src/Realm/README.md
  packages/nexus-sdk/src/Resolver/README.md
  packages/nexus-sdk/src/Resource/README.md
  packages/nexus-sdk/src/Schema/README.md
  packages/nexus-sdk/src/Storage/README.md
  packages/nexus-sdk/src/View/README.md
Due: nexus-sdk

Change type definition for ExpandedResource
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/constants/index.ts
Due: nexus-sdk

Change type definition for ExpandedResource (#337)
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/constants/index.ts
Due: nexus-sdk

Version Update
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Version Update (#339)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Add execution=consistent|performant option to the methods that support it
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/File/types.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/Storage/types.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

Added funding and acknowledgment section to readme
  README.md
Due: none

Added license file
  LICENSE
Due: none

Update option from execution=consistent|performant to indexing=sync|async
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

Add indexing parameter to methods that support it
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/File/types.ts
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/Storage/types.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

Add indexing parameter to methods that support it (#346)
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/File/types.ts
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/Schema/__tests__/schema.spec.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/Storage/types.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/View/types.ts
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

bump version to 1.3.5
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

bump version to 1.3.5 (#347)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

support delta search enpoints
  packages/nexus-sdk/src/Search/__tests__/search.spec.ts
  packages/nexus-sdk/src/Search/index.ts
Due: nexus-sdk

support delta search enpoints (#350)
  packages/nexus-sdk/src/Search/__tests__/search.spec.ts
  packages/nexus-sdk/src/Search/index.ts
Due: nexus-sdk

Add end point to the SDK
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Add end point to the SDK (#351)
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Draft quotas api endpoints support
  packages/nexus-sdk/src/Quotas/README.md
  packages/nexus-sdk/src/Quotas/index.ts
  packages/nexus-sdk/src/Quotas/types.ts
Due: nexus-sdk

Added authors file
  AUTHORS.md
Due: none

Draft tests
  packages/nexus-sdk/src/Quotas/__tests__/quotas.spec.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Bump version to 1.3.6
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Bump version to 1.3.6 (#353)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Support add quotas
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Quotas/__tests__/quotas.spec.ts
  packages/nexus-sdk/src/Quotas/index.ts
  packages/nexus-sdk/src/Quotas/types.ts
Due: nexus-sdk

Remove comments
  packages/nexus-sdk/src/Quotas/index.ts
Due: nexus-sdk

Change type
  packages/nexus-sdk/src/Quotas/types.ts
Due: nexus-sdk

Add statistics endpoint
  packages/nexus-sdk/src/Project/__tests__/project.spec.ts
  packages/nexus-sdk/src/Project/index.ts
Due: nexus-sdk

Update readme
  packages/nexus-sdk/src/Project/README.md
  packages/nexus-sdk/src/Project/index.ts
  packages/nexus-sdk/src/Project/types.ts
  packages/nexus-sdk/src/Quotas/README.md
  packages/nexus-sdk/src/Quotas/__tests__/quotas.spec.ts
Due: nexus-sdk

Update readme
  packages/nexus-sdk/src/Quotas/README.md
Due: nexus-sdk

Support quota endpoints (#354)
  packages/nexus-sdk/src/Project/README.md
  packages/nexus-sdk/src/Project/__tests__/project.spec.ts
  packages/nexus-sdk/src/Project/index.ts
  packages/nexus-sdk/src/Project/types.ts
  packages/nexus-sdk/src/Quotas/README.md
  packages/nexus-sdk/src/Quotas/__tests__/quotas.spec.ts
  packages/nexus-sdk/src/Quotas/index.ts
  packages/nexus-sdk/src/Quotas/types.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Update version
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Update version (#356)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Path conditions:
  nexus-sdk: any of: packages/nexus-sdk
  nexus-link: any of: packages/nexus-link
  react-nexus: any of: packages/react-nexus
