Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

Export quota types
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

Export quota types (#358)
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

Update versions
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Update versions (#359)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

add bbp banner for readme
  Blue-Brain-Nexus_js-Github-banners.jpg
Due: none

Update README.md
  README.md
Due: none

Readme banner (#360)
  Blue-Brain-Nexus_js-Github-banners.jpg
  README.md
Due: none

Update storage endpoints
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/Storage/types.ts
Due: nexus-sdk

Version update
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Update storages endpoints (#361)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Storage/__tests__/storage.spec.ts
  packages/nexus-sdk/src/Storage/index.ts
  packages/nexus-sdk/src/Storage/types.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Handle project deletion endpoint
  package-lock.json
  packages/nexus-sdk/src/Project/__tests__/project.spec.ts
  packages/nexus-sdk/src/Project/index.ts
  packages/nexus-sdk/src/Project/types.ts
Due: nexus-sdk

Update version
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Update readme
  packages/nexus-sdk/src/Project/README.md
  packages/nexus-sdk/src/Project/__tests__/project.spec.ts
  packages/nexus-sdk/src/Project/index.ts
Due: nexus-sdk

Update AUTHORS.md
  AUTHORS.md
Due: none

2710 project deletion config endpoint (#364)
  package-lock.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Project/README.md
  packages/nexus-sdk/src/Project/__tests__/project.spec.ts
  packages/nexus-sdk/src/Project/index.ts
  packages/nexus-sdk/src/Project/types.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Support fetching tags of a resource
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

Support fetching tags of a resource (#366)
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
Due: nexus-sdk

Bump version to 1.3.11
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Resource/README.md
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Bump version to 1.3.11 (#367)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Resource/README.md
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Support listing Resources across all projects or just specific org
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Resource/README.md
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Support listing Resources across all projects or just specific org (#368)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/Resource/README.md
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Add support to the AccessControl component to accept multiple paths
  packages/react-nexus/src/AccessControl.tsx
  tsconfig.json
Due: react-nexus

Support removing tag from resource
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

Support removing tag from resource (#370)
  packages/nexus-sdk/src/Resource/__tests__/resource.spec.ts
  packages/nexus-sdk/src/Resource/index.ts
Due: nexus-sdk

Add support to the AccessControl component to accept multiple paths (#369)
  packages/react-nexus/src/AccessControl.tsx
  tsconfig.json
Due: react-nexus

bump version
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

bump version (#371)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Add GraphAnalytics Support
  packages/nexus-sdk/src/GraphAnalytics/__tests__/graphAnalytics.spec.ts
  packages/nexus-sdk/src/GraphAnalytics/index.ts
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

Graph analytics (#372)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/GraphAnalytics/__tests__/graphAnalytics.spec.ts
  packages/nexus-sdk/src/GraphAnalytics/index.ts
  packages/nexus-sdk/src/nexusSdk.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Elasticsearch POSTs should have params in body, not query string
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

Bump version
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

3012 paging not working for es (#373)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

Updating copyright year
  README.md
Due: none

Updating copyright year (#377)
  README.md
Due: none

Update and rename AUTHORS.md to AUTHORS.txt
  AUTHORS.txt
Due: none

Updated copyright year to 2023
  README.md
Due: none

Path conditions:
  nexus-sdk: any of: packages/nexus-sdk
  nexus-link: any of: packages/nexus-link
  react-nexus: any of: packages/react-nexus
