Repository BlueBrain/nexus-js: changes, and which Codecov flags are due for each by the changed paths.
All: nexus-sdk, nexus-link, react-nexus

fix typos
  packages/react-nexus/src/AccessControl.tsx
Due: react-nexus

better comment
  packages/nexus-sdk/src/types.ts
Due: nexus-sdk

how to wrap SDK call into a react component basics (#168)
  README.md
  codecov.yml
  package-lock.json
  package.json
  packages/nexus-link/package-lock.json
  packages/nexus-sdk/.npmignore
  packages/nexus-sdk/src/types.ts
  packages/react-nexus/.npmignore
  packages/react-nexus/README.md
  packages/react-nexus/jest.config.js
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
  packages/react-nexus/rollup.config.js
  packages/react-nexus/src/AccessControl.tsx
  packages/react-nexus/src/index.ts
  packages/react-nexus/src/nexusContext.ts
  packages/react-nexus/src/useNexus.tsx
  packages/react-nexus/tsconfig.json
Due: nexus-sdk, nexus-link, react-nexus

create provider and expose
  packages/react-nexus/src/NexusProvider.tsx
  packages/react-nexus/src/index.ts
Due: react-nexus

update peerDependencies versions
  packages/nexus-link/package-lock.json
  packages/nexus-sdk/package-lock.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

better rollup config + peerDependencies as external
  .gitignore
  package-lock.json
  package.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
  rollup.config.js
  tsconfig.json
Due: nexus-sdk, nexus-link, react-nexus

trying to use yarn for fixing weird CI behaviour
  Makefile
  docker-compose.yaml
  lerna.json
  package-lock.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/yarn.lock
  packages/nexus-sdk/package-lock.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/yarn.lock
  yarn.lock
Due: nexus-sdk, nexus-link, react-nexus

build all packages of monorepo before running tests...
  Jenkinsfile
Due: none

React nexus provider (#176)
  .gitignore
  Jenkinsfile
  Makefile
  docker-compose.yaml
  lerna.json
  package-lock.json
  package.json
  packages/nexus-link/package-lock.json
  packages/nexus-link/package.json
  packages/nexus-link/yarn.lock
  packages/nexus-sdk/package-lock.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package-lock.json
  packages/react-nexus/package.json
  packages/react-nexus/src/NexusProvider.tsx
  packages/react-nexus/src/index.ts
  packages/react-nexus/yarn.lock
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: nexus-sdk, nexus-link, react-nexus

add wath script + render actual children rather than string :face_palm:
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
  packages/react-nexus/src/AccessControl.tsx
Due: nexus-sdk, nexus-link, react-nexus

add wath script + render actual children rather than string :face_palm: (#177)
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
  packages/react-nexus/src/AccessControl.tsx
Due: nexus-sdk, nexus-link, react-nexus

v1.1.3
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.1.3 (#178)
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

add publish config
  packages/react-nexus/package.json
Due: react-nexus

add publish config (#179)
  packages/react-nexus/package.json
Due: react-nexus

add react orgs
  packages/react-nexus/package-lock.json
  packages/react-nexus/src/Orgs.tsx
  packages/react-nexus/src/index.ts
  packages/react-nexus/src/useNexus.tsx
Due: react-nexus

remove ts ignore line
  packages/react-nexus/src/Orgs.tsx
Due: react-nexus

fix type
  packages/react-nexus/src/useNexus.tsx
Due: react-nexus

add projects
  packages/react-nexus/src/Projects.tsx
  packages/react-nexus/src/index.ts
Due: react-nexus

make default type application/json
  packages/nexus-link/src/links.ts
Due: nexus-link

expose default http methods from fethcing _self urls
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk

add quick documentation fro bare http methods
  packages/nexus-sdk/README.md
Due: nexus-sdk

Bugfix/default header type (#182)
  packages/nexus-link/src/links.ts
  packages/nexus-sdk/README.md
  packages/nexus-sdk/src/nexusSdk.ts
Due: nexus-sdk, nexus-link

add useEffect input param to reload useNexus
  packages/nexus-sdk/src/Project/types.ts
  packages/react-nexus/src/useNexus.tsx
Due: nexus-sdk, react-nexus

default to empty array
  packages/react-nexus/src/useNexus.tsx
Due: react-nexus

expose handy types
  packages/nexus-sdk/src/Organization/types.ts
  packages/nexus-sdk/src/Project/types.ts
Due: nexus-sdk

Update packages/react-nexus/src/useNexus.tsx
  packages/react-nexus/src/useNexus.tsx
Due: react-nexus

document useNexus hook extra param
  packages/react-nexus/README.md
Due: react-nexus

👷‍♀️ FIX: add useEffect input param to reload useNexus (#181)
  packages/nexus-sdk/src/Organization/types.ts
  packages/nexus-sdk/src/Project/types.ts
  packages/react-nexus/README.md
  packages/react-nexus/src/useNexus.tsx
Due: nexus-sdk, react-nexus

v1.1.4
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

v1.1.4 (#183)
  lerna.json
  packages/nexus-link/package.json
  packages/nexus-sdk/package.json
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

add Observable support for useNexus and create pollStatistics method
  .gitignore
  packages/nexus-sdk/src/View/index.ts
  packages/react-nexus/src/useNexus.tsx
Due: nexus-sdk, react-nexus

expose default view IDs
  packages/nexus-sdk/src/View/index.ts
Due: nexus-sdk

make options more explicit:
  packages/nexus-link/src/links.ts
  packages/nexus-sdk/src/ACL/index.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/Identity/index.ts
  packages/nexus-sdk/src/Organization/index.ts
  packages/nexus-sdk/src/Permissions/index.ts
  packages/nexus-sdk/src/Project/index.ts
  packages/nexus-sdk/src/Realm/index.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/nexusSdk.ts
  packages/nexus-sdk/src/types.ts
  packages/react-nexus/package.json
Due: nexus-sdk, nexus-link, react-nexus

remove useless test (we need to properly test the polls in a seperate PR)
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/Identity/__tests__/identity.spec.ts
  packages/nexus-sdk/src/Organization/__tests__/organization.spec.ts
  packages/nexus-sdk/src/Project/__tests__/project.spec.ts
  packages/nexus-sdk/src/Realm/__tests__/realm.spec.ts
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
Due: nexus-sdk

add Observable support for useNexus and create pollStatistics method (#184)
  .gitignore
  packages/nexus-link/src/links.ts
  packages/nexus-sdk/src/ACL/index.ts
  packages/nexus-sdk/src/File/__tests__/File.spec.ts
  packages/nexus-sdk/src/File/index.ts
  packages/nexus-sdk/src/Identity/__tests__/identity.spec.ts
  packages/nexus-sdk/src/Identity/index.ts
  packages/nexus-sdk/src/Organization/__tests__/organization.spec.ts
  packages/nexus-sdk/src/Organization/index.ts
  packages/nexus-sdk/src/Permissions/index.ts
  packages/nexus-sdk/src/Project/__tests__/project.spec.ts
  packages/nexus-sdk/src/Project/index.ts
  packages/nexus-sdk/src/Realm/__tests__/realm.spec.ts
  packages/nexus-sdk/src/Realm/index.ts
  packages/nexus-sdk/src/Resolver/__tests__/resolver.spec.ts
  packages/nexus-sdk/src/Resolver/index.ts
  packages/nexus-sdk/src/Resolver/types.ts
  packages/nexus-sdk/src/Schema/index.ts
  packages/nexus-sdk/src/Schema/types.ts
  packages/nexus-sdk/src/View/__tests__/view.spec.ts
  packages/nexus-sdk/src/View/index.ts
  packages/nexus-sdk/src/nexusSdk.ts
  packages/nexus-sdk/src/types.ts
  packages/react-nexus/package.json
  packages/react-nexus/src/useNexus.tsx
Due: nexus-sdk, nexus-link, react-nexus

add constants for views and schema IDs
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/constants/index.ts
  packages/nexus-sdk/src/index.ts
Due: nexus-sdk

add constants for views and schema IDs (#186)
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/Resource/types.ts
  packages/nexus-sdk/src/constants/index.ts
  packages/nexus-sdk/src/index.ts
Due: nexus-sdk

fix: default names
  packages/nexus-sdk/src/Resource/index.ts
  packages/nexus-sdk/src/constants/index.ts
Due: nexus-sdk

Path conditions:
  nexus-sdk: any of: packages/nexus-sdk
  nexus-link: any of: packages/nexus-link
  react-nexus: any of: packages/react-nexus
